:root {
  --green: #32A586;
  --blue: #0CB2C0;
  --yellow: #FAD141;
  --pink: #F725A0;
  --purple: #672394;
  --border: #FFF;
  --grafikart: #4869ee;
  --shadow: #000;
  --grid-space: 100px;
  --grid-stroke: 5px;
  --placeholder: blue;
}

* {
  box-sizing: border-box;
}

body {
  background: #042138;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

svg {
  stroke-width: 4px;
  stroke: var(--shadow);
}

.grid {
  position: absolute;
  inset: calc(var(--grid-space) * -.5);
  background: linear-gradient(to right, white var(--grid-stroke), transparent var(--grid-stroke)), linear-gradient(to bottom, white var(--grid-stroke), transparent var(--grid-stroke));
  opacity: .3;
  background-size: var(--grid-space) var(--grid-space);
}

.shapes {
  position: absolute;
  inset: 0;
}

.screen,
.webcam {
  isolation: isolate;
  position: relative;
  margin-left: 2.5vh;
  height: 95vh;
  aspect-ratio: 1920 / 1080;
  background-color: var(--placeholder);
  border: 5px solid #FFFFFF;
  box-shadow: -10px 10px 0 #000000;
}

.webcam {
  aspect-ratio: 300 / 245;
  box-shadow: -15px 10px 0 #000000;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 300px;
  height: auto;

  .circle {
    left: auto;
    bottom: -200px;
    right: -150px;
    fill: var(--blue);
    animation-delay: 4s;
  }
}

.preview {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 600px;
  height: auto;
}

/** Shapes **/
.circle {
  position: absolute;
  animation: rotate 10s linear infinite;
}

.triangle {
  position: absolute;
  bottom: 480px;
  right: -30px;
  --rotation: 10deg;
  --translation: 150px;
  animation: float 24s ease-in-out infinite;
}

.circle-bottom {
  bottom:-600px;
  left: -600px;
  fill: var(--yellow);
}

.square-top {
  position: absolute;
  top: 0;
  right: 0;
  --rotation: -10deg;
  --translation: 70px;
  animation: float 20s ease-in-out infinite -12s;
  fill: var(--pink);
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@keyframes float {
  50% {
    transform: translatey(var(--translation)) rotate(var(--rotation));
  }
}

/*
.screen::before {
  content:'';
  position: absolute;
  inset: 15px 15px -15px -15px;
  background-color: #0000;
  opacity: 0.9;
  background-image: radial-gradient(#0000 1px,#000 1px);
  background-size: 6px 6px;
  transform: translateZ(0px);
}
*/
