@import "./reset.css";

:root {
  --color: #d4dcff;
  --contrast: #5396e7;
  --light: #8491c7;
}

html,
body {
  font-size: 45px;
}

body {
  font-family: Roboto, sans-serif;
  overflow: hidden;
  padding: 100px 110px;
  color: var(--light);
  line-height: 1.5;
  text-shadow: 0 0 0.1em currentColor;
}

pre {
  font-family: Roboto Mono, monospace;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

strong {
  color: var(--color);
}

pre span {
  color: var(--contrast);
}

p {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 110px;
}

.hidden {
  visibility: hidden;
}

.title {
  color: var(--color);
  font-family: Montserrat, sans-serif;
  isolation: isolate;
  z-index: 2;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.1;
}

.setup {
  font-size: 0.9rem;
}

.title strong,
pre span {
  color: var(--contrast);
}

.racoon {
  position: absolute;
  bottom: -90px;
  right: -90px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  border: none;
  transform: scale(1.1);
}
